@use '../../../variables';



.header {
  box-sizing: border-box;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto 2.5% auto;
  border: 3px double #c0a080;
  padding: 5px;
  background-color: variables.$primary-body-color;
  box-shadow: 8px 8px 0px rgba(0, 0, 0, 0.1);
  position: relative;

  /* Добавляем контейнер для ссылок */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px 20px;
  gap: 10px;

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-around;
    padding: 10px 20px;
  }

  h1 {
    margin: 0;
    color: variables.$primary-text-color;
    font-family: 'Courier New', monospace;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-shadow: 3px 3px 0px #c0a080;

    @media (min-width: 768px) {
      font-size: 2rem;
    }
  }

  /* Стили для ссылок */
  a,
  button {
    margin: 0 5px;
    padding: 5px 10px;
    text-decoration: none;
    color: #8b4513;
    font-family: 'Courier New', monospace;
    font-weight: bold;
    background: none;
    border: 2px dotted #c0a080;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
      border: 2px solid #8b4513;
      background-color: #ffffff;
      transform: translate(-2px, -2px);
      box-shadow: 3px 3px 0px rgba(139, 69, 19, 0.2);
    }

    @media (min-width: 768px) {
      padding: 8px 16px;
      font-size: 1.1rem;
    }
  }
}