.structure-item{
    border: 1px solid black;
    padding: 10px;
    margin: 0 0 15px 0;

    h4{
        margin: 0;
    }
    label{
        margin-bottom: 0;
    }

    button{
        margin: 5px 0;
    }
}